# WP-CLI database dumps that should not be tracked in git
db-sync
sql-dump-*.sql

# Custon environment variables may include passwords and other
# secrets and should not be tracked in git
.env

# Libraries installed by Composer, Bower etc
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant run-time output, not need to track in git
bin
.vagrant
myrecording

# Don't store any logs in version control
*.log

# OSX Desktop Services Store files.
.DS_Store

.idea

# Regression test results
routes.json
backstop_data

# Node version 12.18.0 needs this so gulp works
# https://timonweb.com/posts/how-to-fix-referenceerror-primordials-is-not-defined-error/
npm-shrinkwrap.json

# VS Code related.
.vscode